# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.
```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [86]:
'''Largest number from the given list'''
numbers = [12, 75, 150, 180, 145, 525, 50]
numbers.sort()
LN =numbers[-1]
print("Largest number in given list is :",LN)

Largest number in given list is : 525

Q2. Print all the even number between (1, 12).

In [88]:
'''Even number between(1,12)'''
print("Even numbers between(1,12)are:")
for i in range(1,13):
  if i%2==0:
    print(i)

Even numbers between(1,12)are:
2
4
6
8
10
12

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [48]:
'''Sum of numbers'''
number = int(input("Enter your number:"))
L=[]
for i in range(0,number+1):
    L.append(i)
Sum = sum(L)
print("The sum of the numbers from 1 to given number is:",Sum)

Enter your number:10
The sum of the numbers from 1 to given number is: 55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [84]:

numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
  if i%5!=0:
    a=i
    numbers.remove(a)   
  if i>150:
    b=i
    numbers.remove(b) 
  if i>500:
    print("The list which satisfy all the conditions :",numbers)
    break

The list which satisfy all the conditions : [75, 150, 145, 50]

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [83]:
'''List in reverse order'''
list1 = [10, 20, 30, 40, 50]
list1[::-1]

[50, 40, 30, 20, 10]